.textBanner{
    color: white;
    vertical-align: middle;
    margin:0;
    font-size: 100%;
}

.canvasLogo{
    display: inline-block;
    float:left;
    width: 100%;
    background-color: #761c19;
    height: 50px;
    color: #761c19;
    border: #761c19 2px solid;
    margin-top:1%;    
    text-align: center;    
    vertical-align: middle;    
    padding: 1%;
}

.Tabla{
    width:100%;       
    text-align: center;   
    font-size: 90%;
}


.tabla th{   
    color:black; 
    background-color: gainsboro;
    text-align: center;   
    border:1px solid white;
    word-break: initial;
    padding: 5px;

}

.tabla td{
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid white;
    word-break: normal;  
    text-align: center;
}

#divTablaResult{
    margin-top: 2%;
}

#divImagen{
    margin-left: 5%;
    float:left;  
    width: 60%;
}
#fechaRegistro{
    float: left;
    width: 30%;
    margin-top: 5%;   
}

#divReporte{
    padding-top: 2%;
    padding-bottom: 2%;
}

.colorBlanco{
    color:white;
}
